.list-title {
    color: #ab9f61;
}

.users-list > li {
  background-color: #717b85;
}

.users-list > li:hover {
  background-color: #535a61;
}

.private-rooms-list > li {
  background-color: #717b85;
}

.private-rooms-list > li:hover {
  background-color: #535a61;
}

.users-list > li.ui-selected {
  background-color: #bfb78c;
}

.users-list > li.ui-selected:hover {
  background-color: #b0a880;
}

.adjust-height {
  height: 50%;
}
